<div class="sec5-saiyaara">
  <div class="container">
     <div class="row">
        <div class="col-md-12">
           <div class="heading-area">
              <h3> Used Cars Listing</h3>
           </div>
           <div class="plr-list" *ngIf="popularCars?.length != 0  else notFoundMsg">
           <div>
           <ul class="row used-cars">
              <ngx-loading  [show]="loading"
              [config]="{
              backdropBackgroundColour: 'rgba(255,255,255,0.3)',
              backdropBorderRadius: '40px',
              primaryColour: '#1A578C',
              secondaryColour: '#1A578C',
              tertiaryColour: '#1A578C'
              }">
              </ngx-loading>
              <li class="item col-md-4" *ngFor="let popularCar of popularCars; let i =index">
                 <div class="pro-car">
                    <div class="thumbnail " >
                       <div class="tag" *ngIf="popularCar.package_id === 2">Featured</div>
                       <div *ngIf="popularCar.package_id === 3" class="urgentTag">Urgent</div>
                       <a [routerLink]="['/used-car-single',popularCar?.id]" class="com-img used-car-list-img">
                       <img *ngIf="!(popularCar.dummy_picture[0]['image1'].indexOf('dummy_picture.jpg') != -1)"  src="{{usedCarImages}}/{{popularCar?.user_id}}/{{imageSize1}}{{popularCar.dummy_picture[0]['image1']}}"
                          alt="">
                       <img *ngIf="(popularCar.dummy_picture[0]['image1'].indexOf('dummy_picture.jpg') != -1)"  src="{{popularCar.dummy_picture[0]['image1']}}"
                          alt="">
                       </a>
                    </div>
                    <div class="caption">
                       <div class="item-title">
                          <h4 >
                            <a [routerLink]="['/used-car-single',popularCar?.id]">
                              {{popularCar.munuf_name}} {{popularCar.car_name}} {{popularCar.model_name}} {{popularCar.year}}
                             </a>
                            </h4>
                       </div>
                       <div class="additional-info">
                          <ul>
                             <li *ngIf="popularCar?.city_name"><span><i class="fa fa-map-marker" aria-hidden="true"></i></span>{{popularCar.city_name}}</li>
                             <li><span><i class="fa fa-tachometer" aria-hidden="true"></i></span>{{popularCar.mileage}} Km</li>
                             <li><span><i class="fa fa-bolt" aria-hidden="true"></i></span>{{popularCar.engine_capacity}} cc</li>
                          </ul>
                       </div>
                       <div class="content">
                          <p class="price"> {{numberWithCommas(popularCar?.price)}}
                       </div>
                    </div>
                 </div>
              </li>
           </ul>
          </div>
           <div class="row align-center big-b">
              <div class="col-md-12">
                 <a [routerLink]="['/used-car']" class="btn">View All  Used Cars</a>
              </div>
           </div>
          </div>
          <ng-template #notFoundMsg>
              <div class="notFound">
                <h1>Record not found</h1>
            </div>
            </ng-template>
        </div>
     </div>
  </div>
</div>
