<section class="headerBanner">
    <!-- <img src="../ufg-payment/images/thankyou-banner.png"> -->
    <!-- <img src="http://stagingwebsite.biz/php/frontend/assets/images/thank-you.jpg"> -->
    <img src="https://unforgettabletravelcompany.com/ufg-front/assets/images/thank-you.jpg">
  </section>
  
  <section class="PaymentInformation">
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-sm-6">
          <div class="message-box-wrapper-404">
            <div class="message-box-content-404"> 
              <h1 class="red-color" *ngIf="alreadySubmit">Form already submitted!</h1>
              </div>
            </div>
          </div>

          
        </div>
      </div>
    </section>