<!-- <div class="sec2-saiyaara ads-sec">
    <div class="container">
      <div class="row">
        <div class="col-md-9"><img src="../../../../assets/images/ads3.jpg" width="871" height="98"></div>
          <div class="col-md-3"><img src="../../../../assets/images/certified-car.jpg" width="279" height="100"></div>
        </div>
      </div>
    </div> -->

    <div class="sec3-saiyaara">
        <div class="container">
          <div class="row">
            <div class="car-img"><img src="../../../../assets/images/car-img2.png" width="508" height="255"></div>
              <div class="col-md-8">
                <ul>
                  <li><span>Post An Ad for Free:</span> Post your car’s ad for free in 30 seconds.</li>
                  <li><span>Thousands of genuine buyers:</span> Get authentic offers from verified buyers. </li>
                  <li><span>Sell Faster:</span> Sell your car faster than others at a better price.</li>
                  </ul>
              </div>
                    <div class="col-md-4 sell-car">

                        <h3>Sale us your car</h3>
        <p>Fast.
    Friendly.
    Fair.</p>
    <a >Sale Your Car <i class="fa fa-car" aria-hidden="true"></i></a>

                     </div>
          </div>
        </div>
      </div>
