<div class="content-area new-car-list contact-help-us">

  <div class="title-area">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1>Get Help or Contact Us</h1>
        </div>
      </div>
      <div class="empty-space30"></div>
    </div>
  </div>

  <div class="sec4-saiyaara">
    <div class="container">
      <div class="row">
        <div class="col-md-9">
          <div class="saiyaara-services">
            <div class="tab-area">
              <!-- required for floating -->
              <!-- Nav tabs -->
              <ul class="nav nav-tabs tabs-left vertical-text">
                <li class="active">
                  <a href="#private-v" data-toggle="tab">I’m a private seller</a>
                </li>
                <li>
                  <a href="#trade-v" data-toggle="tab">I’m a trade seller</a>
                </li>
                <li>
                  <a href="#buy-v" data-toggle="tab">I’m looking to buy</a>
                </li>
                <li>
                  <a href="#inquiry-v" data-toggle="tab">I’ve got different inquiry</a>
                </li>

              </ul>
            </div>
            <div class="tab-cont">
              <!-- Tab panes -->
              <div class="tab-content">
                <div class="tab-pane active" id="private-v">
                  <div class="form">
                    <div class="sub-title">
                      <h3>Private Seller</h3>
                    </div>
                    <form>
                      <div class="form-body">
                        <div class="form-group row">
                          <label class="control-label col-md-4">Full Name
                            <span class="req">*</span>
                          </label>
                          <div class="selectContainer col-md-8">
                            <div class="input-group">
                              <input type="text" class="form-control" placeholder="Enter Your Name">

                            </div>
                          </div>
                        </div>
                        <div class="form-group row">
                          <label class="control-label col-md-4">Email
                            <span class="req">*</span>
                          </label>
                          <div class="selectContainer col-md-8">
                            <div class="input-group">
                              <input type="text" class="form-control" placeholder="Enter Your Email">
                            </div>
                          </div>
                        </div>
                        <div class="form-group row">
                          <label class="control-label col-md-4">Phone no
                            <span class="req">*</span>
                          </label>
                          <div class="selectContainer col-md-8">
                            <div class="input-group">
                              <input type="text" class="form-control" placeholder="Enter Your Phone No">
                            </div>
                          </div>
                        </div>
                        <div class="form-group row">
                          <label class="control-label col-md-4">Discription
                            <span class="req">*</span>
                          </label>
                          <div class="selectContainer col-md-8">
                            <div class="input-group">
                              <textarea class="form-control" placeholder="Write Here"></textarea>
                            </div>
                          </div>
                        </div>



                      </div>
                      <div class="form-ftr">
                        <button type="submit" class="btn blue">Submit</button>
                        <button type="reset" class="btn blue-border">Reset</button>
                      </div>
                    </form>
                  </div>
                </div>
                <div class="tab-pane" id="trade-v">
                  <div class="form">
                    <div class="sub-title">
                      <h3>Trade Seller</h3>
                    </div>
                    <form>
                      <div class="form-body">
                        <div class="form-group row">
                          <label class="control-label col-md-4">Full Name
                            <span class="req">*</span>
                          </label>
                          <div class="selectContainer col-md-8">
                            <div class="input-group">
                              <input type="text" class="form-control" placeholder="Enter Your Name">

                            </div>
                          </div>
                        </div>
                        <div class="form-group row">
                          <label class="control-label col-md-4">Email
                            <span class="req">*</span>
                          </label>
                          <div class="selectContainer col-md-8">
                            <div class="input-group">
                              <input type="text" class="form-control" placeholder="Enter Your Email">
                            </div>
                          </div>
                        </div>
                        <div class="form-group row">
                          <label class="control-label col-md-4">Phone no
                            <span class="req">*</span>
                          </label>
                          <div class="selectContainer col-md-8">
                            <div class="input-group">
                              <input type="text" class="form-control" placeholder="Enter Your Phone No">
                            </div>
                          </div>
                        </div>
                        <div class="form-group row">
                          <label class="control-label col-md-4">Discription
                            <span class="req">*</span>
                          </label>
                          <div class="selectContainer col-md-8">
                            <div class="input-group">
                              <textarea class="form-control" placeholder="Write Here"></textarea>
                            </div>
                          </div>
                        </div>



                      </div>
                      <div class="form-ftr">
                        <button type="submit" class="btn blue">Submit</button>
                        <button type="reset" class="btn blue-border">Reset</button>
                      </div>
                    </form>
                  </div>
                </div>
                <div class="tab-pane" id="buy-v">
                  <div class="form">
                    <div class="sub-title">
                      <h3>Buyer</h3>
                    </div>
                    <form>
                      <div class="form-body">
                        <div class="form-group row">
                          <label class="control-label col-md-4">Full Name
                            <span class="req">*</span>
                          </label>
                          <div class="selectContainer col-md-8">
                            <div class="input-group">
                              <input type="text" class="form-control" placeholder="Enter Your Name">

                            </div>
                          </div>
                        </div>
                        <div class="form-group row">
                          <label class="control-label col-md-4">Email
                            <span class="req">*</span>
                          </label>
                          <div class="selectContainer col-md-8">
                            <div class="input-group">
                              <input type="text" class="form-control" placeholder="Enter Your Email">
                            </div>
                          </div>
                        </div>
                        <div class="form-group row">
                          <label class="control-label col-md-4">Phone no
                            <span class="req">*</span>
                          </label>
                          <div class="selectContainer col-md-8">
                            <div class="input-group">
                              <input type="text" class="form-control" placeholder="Enter Your Phone No">
                            </div>
                          </div>
                        </div>
                        <div class="form-group row">
                          <label class="control-label col-md-4">Discription
                            <span class="req">*</span>
                          </label>
                          <div class="selectContainer col-md-8">
                            <div class="input-group">
                              <textarea class="form-control" placeholder="Write Here"></textarea>
                            </div>
                          </div>
                        </div>



                      </div>
                      <div class="form-ftr">
                        <button type="submit" class="btn blue">Submit</button>
                        <button type="reset" class="btn blue-border">Reset</button>
                      </div>
                    </form>
                  </div>
                </div>
                <div class="tab-pane" id="inquiry-v">
                  <div class="form">
                    <div class="sub-title">
                      <h3>Different Inquiry</h3>
                    </div>
                    <form>
                      <div class="form-body">
                        <div class="form-group row">
                          <label class="control-label col-md-4">Full Name
                            <span class="req">*</span>
                          </label>
                          <div class="selectContainer col-md-8">
                            <div class="input-group">
                              <input type="text" class="form-control" placeholder="Enter Your Name">

                            </div>
                          </div>
                        </div>
                        <div class="form-group row">
                          <label class="control-label col-md-4">Email
                            <span class="req">*</span>
                          </label>
                          <div class="selectContainer col-md-8">
                            <div class="input-group">
                              <input type="text" class="form-control" placeholder="Enter Your Email">
                            </div>
                          </div>
                        </div>
                        <div class="form-group row">
                          <label class="control-label col-md-4">Phone no
                            <span class="req">*</span>
                          </label>
                          <div class="selectContainer col-md-8">
                            <div class="input-group">
                              <input type="text" class="form-control" placeholder="Enter Your Phone No">
                            </div>
                          </div>
                        </div>
                        <div class="form-group row">
                          <label class="control-label col-md-4">Discription
                            <span class="req">*</span>
                          </label>
                          <div class="selectContainer col-md-8">
                            <div class="input-group">
                              <textarea class="form-control" placeholder="Write Here"></textarea>
                            </div>
                          </div>
                        </div>



                      </div>
                      <div class="form-ftr">
                        <button type="submit" class="btn blue">Submit</button>
                        <button type="reset" class="btn blue-border">Reset</button>
                      </div>
                    </form>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="ads-area">
            <img src="../../../assets/images/ad8.jpg" width="259" height="494">
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="sec9-saiyaara">
    <div class="container">
      <div class="title">
        <h3>New Car Reviews</h3>
        <p>Our expert reviewers report back with the latest</p>
      </div>
      <div class="carousel row slide" id="myreviews">
        <div class="carousel-inner">
          <div class="item active">
            <ul class="review-list">
              <li class="col-sm-4">
                <div class="pro-car">
                  <div class="thumbnail">
                    <a href="#">
                      <img src="../../../assets/images/car01.jpg" alt="">
                    </a>
                  </div>
                  <div class="caption">
                    <div class="additional-info">
                      <h4>
                        <a href="#">Etiam interdum ex ac</a>
                      </h4>
                      <p>bibendum, eget tincidunt ipsum egestas. Proin non dignissim risus, ut volutpat dolor.
                        <a href="#">read more</a>
                      </p>
                    </div>
                    <div class="review-ftr">
                      <div class="author">
                        <div class="img">
                          <img src="../../../assets/images/publisher1.jpg" alt="">
                        </div>
                        <p class="writer">By: scelerisque lacus Ut lorem dui</p>
                      </div>
                      <div class="rating">
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                      </div>
                    </div>

                  </div>
                </div>
              </li>
              <li class="col-sm-4">
                <div class="pro-car">
                  <div class="thumbnail">
                    <a href="#">
                      <img src="../../../assets/images/car03.jpg" alt="">
                    </a>
                  </div>
                  <div class="caption">
                    <div class="additional-info">
                      <h4>
                        <a href="#">Etiam interdum ex ac</a>
                      </h4>
                      <p>bibendum, eget tincidunt ipsum egestas. Proin non dignissim risus, ut volutpat dolor.
                        <a href="#">read more</a>
                      </p>
                    </div>
                    <div class="review-ftr">
                      <div class="author">
                        <div class="img">
                          <img src="../../../assets/images/publisher2.jpg" alt="">
                        </div>
                        <p class="writer">By: scelerisque lacus Ut lorem dui</p>
                      </div>
                      <div class="rating">
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                      </div>
                    </div>

                  </div>
                </div>
              </li>
              <li class="col-sm-4">
                <div class="pro-car">
                  <div class="thumbnail">
                    <a href="#">
                      <img src="../../../assets/images/car02.jpg" alt="">
                    </a>
                  </div>
                  <div class="caption">
                    <div class="additional-info">
                      <h4>
                        <a href="#">Etiam interdum ex ac</a>
                      </h4>
                      <p>bibendum, eget tincidunt ipsum egestas. Proin non dignissim risus, ut volutpat dolor.
                        <a href="#">read more</a>
                      </p>
                    </div>
                    <div class="review-ftr">
                      <div class="author">
                        <div class="img">
                          <img src="../../../assets/images/publisher3.jpg" alt="">
                        </div>
                        <p class="writer">By: scelerisque lacus Ut lorem dui</p>
                      </div>
                      <div class="rating">
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                      </div>
                    </div>

                  </div>
                </div>
              </li>

            </ul>
          </div>
          <!-- /Slide1 -->
          <div class="item">
            <ul class="review-list">
              <li class="col-sm-4">
                <div class="pro-car">
                  <div class="thumbnail">
                    <a href="#">
                      <img src="../../../assets/images/car01.jpg" alt="">
                    </a>
                  </div>
                  <div class="caption">
                    <div class="additional-info">
                      <h4>
                        <a href="#">Etiam interdum ex ac</a>
                      </h4>
                      <p>bibendum, eget tincidunt ipsum egestas. Proin non dignissim risus, ut volutpat dolor.
                        <a href="#">read more</a>
                      </p>
                    </div>
                    <div class="review-ftr">
                      <div class="author">
                        <div class="img">
                          <img src="../../../assets/images/publisher1.jpg" alt="">
                        </div>
                        <p class="writer">By: scelerisque lacus Ut lorem dui</p>
                      </div>
                      <div class="rating">
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                      </div>
                    </div>

                  </div>
                </div>
              </li>
              <li class="col-sm-4">
                <div class="pro-car">
                  <div class="thumbnail">
                    <a href="#">
                      <img src="../../../assets/images/car03.jpg" alt="">
                    </a>
                  </div>
                  <div class="caption">
                    <div class="additional-info">
                      <h4>
                        <a href="#">Etiam interdum ex ac</a>
                      </h4>
                      <p>bibendum, eget tincidunt ipsum egestas. Proin non dignissim risus, ut volutpat dolor.
                        <a href="#">read more</a>
                      </p>
                    </div>
                    <div class="review-ftr">
                      <div class="author">
                        <div class="img">
                          <img src="../../../assets/images/publisher2.jpg" alt="">
                        </div>
                        <p class="writer">By: scelerisque lacus Ut lorem dui</p>
                      </div>
                      <div class="rating">
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                      </div>
                    </div>

                  </div>
                </div>
              </li>
              <li class="col-sm-4">
                <div class="pro-car">
                  <div class="thumbnail">
                    <a href="#">
                      <img src="../../../assets/images/car02.jpg" alt="">
                    </a>
                  </div>
                  <div class="caption">
                    <div class="additional-info">
                      <h4>
                        <a href="#">Etiam interdum ex ac</a>
                      </h4>
                      <p>bibendum, eget tincidunt ipsum egestas. Proin non dignissim risus, ut volutpat dolor.
                        <a href="#">read more</a>
                      </p>
                    </div>
                    <div class="review-ftr">
                      <div class="author">
                        <div class="img">
                          <img src="../../../assets/images/publisher3.jpg" alt="">
                        </div>
                        <p class="writer">By: scelerisque lacus Ut lorem dui</p>
                      </div>
                      <div class="rating">
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                      </div>
                    </div>

                  </div>
                </div>
              </li>

            </ul>
          </div>
          <div class="item">
            <ul class="review-list">
              <li class="col-sm-4">
                <div class="pro-car">
                  <div class="thumbnail">
                    <a href="#">
                      <img src="../../../assets/images/car01.jpg" alt="">
                    </a>
                  </div>
                  <div class="caption">
                    <div class="additional-info">
                      <h4>
                        <a href="#">Etiam interdum ex ac</a>
                      </h4>
                      <p>bibendum, eget tincidunt ipsum egestas. Proin non dignissim risus, ut volutpat dolor.
                        <a href="#">read more</a>
                      </p>
                    </div>
                    <div class="review-ftr">
                      <div class="author">
                        <div class="img">
                          <img src="../../../assets/images/publisher1.jpg" alt="">
                        </div>
                        <p class="writer">By: scelerisque lacus Ut lorem dui</p>
                      </div>
                      <div class="rating">
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                      </div>
                    </div>

                  </div>
                </div>
              </li>
              <li class="col-sm-4">
                <div class="pro-car">
                  <div class="thumbnail">
                    <a href="#">
                      <img src="../../../assets/images/car03.jpg" alt="">
                    </a>
                  </div>
                  <div class="caption">
                    <div class="additional-info">
                      <h4>
                        <a href="#">Etiam interdum ex ac</a>
                      </h4>
                      <p>bibendum, eget tincidunt ipsum egestas. Proin non dignissim risus, ut volutpat dolor.
                        <a href="#">read more</a>
                      </p>
                    </div>
                    <div class="review-ftr">
                      <div class="author">
                        <div class="img">
                          <img src="../../../assets/images/publisher2.jpg" alt="">
                        </div>
                        <p class="writer">By: scelerisque lacus Ut lorem dui</p>
                      </div>
                      <div class="rating">
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                      </div>
                    </div>

                  </div>
                </div>
              </li>
              <li class="col-sm-4">
                <div class="pro-car">
                  <div class="thumbnail">
                    <a href="#">
                      <img src="../../../assets/images/car02.jpg" alt="">
                    </a>
                  </div>
                  <div class="caption">
                    <div class="additional-info">
                      <h4>
                        <a href="#">Etiam interdum ex ac</a>
                      </h4>
                      <p>bibendum, eget tincidunt ipsum egestas. Proin non dignissim risus, ut volutpat dolor.
                        <a href="#">read more</a>
                      </p>
                    </div>
                    <div class="review-ftr">
                      <div class="author">
                        <div class="img">
                          <img src="../../../assets/images/publisher3.jpg" alt="">
                        </div>
                        <p class="writer">By: scelerisque lacus Ut lorem dui</p>
                      </div>
                      <div class="rating">
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                      </div>
                    </div>

                  </div>
                </div>
              </li>

            </ul>
          </div>
        </div>


        <nav>
          <ul class="control-box pager">
            <li>
              <a data-slide="prev" href="#myreviews" class="">
                <i class="glyphicon glyphicon-chevron-left"></i>
              </a>
            </li>
            <li>
              <a data-slide="next" href="#myreviews" class="">
                <i class="glyphicon glyphicon-chevron-right"></i>
              </a>
            </li>
          </ul>
        </nav>
        <!-- /.control-box -->

      </div>
    </div>
  </div>





</div>