<footer>
  <div class="main-footer">
    <div class="container">
      <div class="row">
        <div class="col-sm-6">
          <div class="row">
            <div class="col-sm-4">
              <h3>Archives Explore</h3>
              <ul>
                <li>
                  <a >About Saiyaara</a>
                </li>
                <li>
                  <a >Services</a>
                </li>
                <li>
                  <a >Product</a>
                </li>
                <li>
                  <a >Advertise With Us</a>
                </li>
                <li>
                  <a >How to Pay</a>
                </li>
                <li>
                  <a>FAQs</a>
                </li>
                <li>
                  <a >Shop</a>
                </li>
                <li>
                  <a >Careers</a>
                </li>
                <li>
                  <a >Contact Us</a>
                </li>
              </ul>
            </div>
            <div class="col-sm-4">
              <h3>Cars by Make</h3>
              <ul>
                <li>
                  <a >Daihatsu Cars for Sale</a>
                </li>
                <li>
                  <a >Honda Cars for Sale</a>
                </li>
                <li>
                  <a >Hyundai Cars for Sale</a>
                </li>
                <li>
                  <a >Mitsubishi Cars for Sale</a>
                </li>
                <li>
                  <a >Suzuki Cars for Sale</a>
                </li>
                <li>
                  <a >Toyota Cars for Sale</a>
                </li>
                <li>
                  <a >BMW Cars for Sale</a>
                </li>
                <li>
                  <a >Nissan Cars for Sale</a>
                </li>
                <li>
                  <a >Mercedes Cars for Sale</a>
                </li>
              </ul>
            </div>
            <div class="col-sm-4">
              <h3>Dealer</h3>
              <ul>
                <li>
                  <a >What we offer</a>
                </li>
                <li>
                  <a >Access your Portal account</a>
                </li>
                <li>
                  <a >Trade - pay as you go</a>
                </li>
              </ul>
              <h3>Private sellers</h3>
              <ul>
                <li>
                  <a >Sell my car</a>
                </li>
                <li>
                  <a >Advertising costs</a>
                </li>
                <li>
                  <a >Terms and Conditions</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-footer">
            <h3>Notify Me</h3>
            <p>Sed id ante eget nisl malesuada euismod. Suspendisse fermentum molestie orci. Cras suscipit mauris ut tortor
              porta malesuada. </p>
            <form>
              <ul>
                <li>
                  <input type="text" placeholder="Your Name">
                </li>
                <li>
                  <input type="text" placeholder="Your Email">
                </li>

              </ul>
              <div class="button">
                <button type="submit">Submit Now</button>
              </div>
            </form>
          </div>
          <div class="social-icon">
            <h3>Social Networks</h3>
            <ul>
              <li>
                <a>
                  <img src="../../../assets/images/fb.png" width="30" height="30">
                </a>
              </li>
              <li>
                <a>
                  <img src="../../../assets/images/twi.png" width="30" height="30">
                </a>
              </li>
              <li>
                <a>
                  <img src="../../../assets/images/yt.png" width="30" height="30">
                </a>
              </li>
              <li>
                <a>
                  <img src="../../../../assets/images/gp.png" width="30" height="30">
                </a>
              </li>
              <li>
                <a>
                  <img src="../../../assets/images/linkedin.png" width="30" height="30">
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="copyright">
    <div class="container">
      <div class="row">
        <div class="col-sm-6">
          <p>Copyright@ 2017-2018 KVOP1. All Right Reserved.
            <a >Terms of Services</a> |
            <a >Privacy Policy</a>
          </p>
        </div>
        <div class="col-sm-6"></div>
      </div>
    </div>
  </div>
</footer>