<!-- <div class="sec9-saiyaara">
    <div class="container">
        <div class="title">
            <h3>New Car Reviews</h3>
            <p>Our expert reviewers report back with the latest</p>
        </div>
        <div class="carousel row slide" id="myreviews">
            <div class="carousel-inner">
                <div class="item">
                    <ul class="review-list">
                        <li class="col-md-4">
                            <div class="pro-car">
                                <div class="thumbnail">
                                    <a href="#"><img
                                            src="../../../../assets/images/car01.jpg"
                                            alt=""></a>
                                </div>
                                <div class="caption">
                                    <div class="additional-info">
                                        <h4><a href="#">Etiam interdum ex ac</a></h4>
                                        <p>bibendum, eget tincidunt ipsum
                                            egestas. Proin non dignissim risus,
                                            ut volutpat dolor. <a href="#">read
                                                more</a></p>
                                    </div>
                                    <div class="review-ftr">
                                        <div class="author">
                                            <div class="img"><img
                                                    src="../../../../assets/images/publisher1.jpg"
                                                    alt=""></div>
                                            <p class="writer">By: scelerisque
                                                lacus Ut lorem dui</p>
                                        </div>
                                        <div class="rating"><i class="fa
                                                fa-star" aria-hidden="true"></i>
                                            <i class="fa fa-star"
                                                aria-hidden="true"></i>
                                            <i class="fa fa-star"
                                                aria-hidden="true"></i>
                                            <i class="fa fa-star"
                                                aria-hidden="true"></i>
                                            <i class="fa fa-star"
                                                aria-hidden="true"></i>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </li>
                        <li class="col-md-4">
                            <div class="pro-car">
                                <div class="thumbnail">
                                    <a href="#"><img
                                            src="../../../../assets/images/car03.jpg"
                                            alt=""></a>
                                </div>
                                <div class="caption">
                                    <div class="additional-info">
                                        <h4><a href="#">Etiam interdum ex ac</a></h4>
                                        <p>bibendum, eget tincidunt ipsum
                                            egestas. Proin non dignissim risus,
                                            ut volutpat dolor. <a href="#">read
                                                more</a></p>
                                    </div>
                                    <div class="review-ftr">
                                        <div class="author">
                                            <div class="img"><img
                                                    src="../../../../assets/images/publisher2.jpg"
                                                    alt=""></div>
                                            <p class="writer">By: scelerisque
                                                lacus Ut lorem dui</p>
                                        </div>
                                        <div class="rating"><i class="fa
                                                fa-star" aria-hidden="true"></i>
                                            <i class="fa fa-star"
                                                aria-hidden="true"></i>
                                            <i class="fa fa-star"
                                                aria-hidden="true"></i>
                                            <i class="fa fa-star"
                                                aria-hidden="true"></i>
                                            <i class="fa fa-star"
                                                aria-hidden="true"></i>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </li>
                        <li class="col-md-4">
                            <div class="pro-car">
                                <div class="thumbnail">
                                    <a href="#"><img
                                            src="../../../../assets/images/car02.jpg"
                                            alt=""></a>
                                </div>
                                <div class="caption">
                                    <div class="additional-info">
                                        <h4><a href="#">Etiam interdum ex ac</a></h4>
                                        <p>bibendum, eget tincidunt ipsum
                                            egestas. Proin non dignissim risus,
                                            ut volutpat dolor. <a href="#">read
                                                more</a></p>
                                    </div>
                                    <div class="review-ftr">
                                        <div class="author">
                                            <div class="img"><img
                                                    src="../../../../assets/images/publisher3.jpg"
                                                    alt=""></div>
                                            <p class="writer">By: scelerisque
                                                lacus Ut lorem dui</p>
                                        </div>
                                        <div class="rating"><i class="fa
                                                fa-star" aria-hidden="true"></i>
                                            <i class="fa fa-star"
                                                aria-hidden="true"></i>
                                            <i class="fa fa-star"
                                                aria-hidden="true"></i>
                                            <i class="fa fa-star"
                                                aria-hidden="true"></i>
                                            <i class="fa fa-star"
                                                aria-hidden="true"></i>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </li>

                    </ul>
                </div>
                <div class="item">
                    <ul class="review-list">
                        <li class="col-md-4">
                            <div class="pro-car">
                                <div class="thumbnail">
                                    <a href="#"><img
                                            src="../../../../assets/images/car01.jpg"
                                            alt=""></a>
                                </div>
                                <div class="caption">
                                    <div class="additional-info">
                                        <h4><a href="#">Etiam interdum ex ac</a></h4>
                                        <p>bibendum, eget tincidunt ipsum
                                            egestas. Proin non dignissim risus,
                                            ut volutpat dolor. <a href="#">read
                                                more</a></p>
                                    </div>
                                    <div class="review-ftr">
                                        <div class="author">
                                            <div class="img"><img
                                                    src="../../../../assets/images/publisher1.jpg"
                                                    alt=""></div>
                                            <p class="writer">By: scelerisque
                                                lacus Ut lorem dui</p>
                                        </div>
                                        <div class="rating"><i class="fa
                                                fa-star" aria-hidden="true"></i>
                                            <i class="fa fa-star"
                                                aria-hidden="true"></i>
                                            <i class="fa fa-star"
                                                aria-hidden="true"></i>
                                            <i class="fa fa-star"
                                                aria-hidden="true"></i>
                                            <i class="fa fa-star"
                                                aria-hidden="true"></i>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </li>
                        <li class="col-md-4">
                            <div class="pro-car">
                                <div class="thumbnail">
                                    <a href="#"><img
                                            src="../../../../assets/images/car03.jpg"
                                            alt=""></a>
                                </div>
                                <div class="caption">
                                    <div class="additional-info">
                                        <h4><a href="#">Etiam interdum ex ac</a></h4>
                                        <p>bibendum, eget tincidunt ipsum
                                            egestas. Proin non dignissim risus,
                                            ut volutpat dolor. <a href="#">read
                                                more</a></p>
                                    </div>
                                    <div class="review-ftr">
                                        <div class="author">
                                            <div class="img"><img
                                                    src="../../../../assets/images/publisher2.jpg"
                                                    alt=""></div>
                                            <p class="writer">By: scelerisque
                                                lacus Ut lorem dui</p>
                                        </div>
                                        <div class="rating"><i class="fa
                                                fa-star" aria-hidden="true"></i>
                                            <i class="fa fa-star"
                                                aria-hidden="true"></i>
                                            <i class="fa fa-star"
                                                aria-hidden="true"></i>
                                            <i class="fa fa-star"
                                                aria-hidden="true"></i>
                                            <i class="fa fa-star"
                                                aria-hidden="true"></i>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </li>
                        <li class="col-md-4">
                            <div class="pro-car">
                                <div class="thumbnail">
                                    <a href="#"><img
                                            src="../../../../assets/images/car02.jpg"
                                            alt=""></a>
                                </div>
                                <div class="caption">
                                    <div class="additional-info">
                                        <h4><a href="#">Etiam interdum ex ac</a></h4>
                                        <p>bibendum, eget tincidunt ipsum
                                            egestas. Proin non dignissim risus,
                                            ut volutpat dolor. <a href="#">read
                                                more</a></p>
                                    </div>
                                    <div class="review-ftr">
                                        <div class="author">
                                            <div class="img"><img
                                                    src="../../../../assets/images/publisher3.jpg"
                                                    alt=""></div>
                                            <p class="writer">By: scelerisque
                                                lacus Ut lorem dui</p>
                                        </div>
                                        <div class="rating"><i class="fa
                                                fa-star" aria-hidden="true"></i>
                                            <i class="fa fa-star"
                                                aria-hidden="true"></i>
                                            <i class="fa fa-star"
                                                aria-hidden="true"></i>
                                            <i class="fa fa-star"
                                                aria-hidden="true"></i>
                                            <i class="fa fa-star"
                                                aria-hidden="true"></i>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </li>

                    </ul>
                </div>
                <div class="item active">
                    <ul class="review-list">
                        <li class="col-md-4">
                            <div class="pro-car">
                                <div class="thumbnail">
                                    <a href="#"><img
                                            src="../../../../assets/images/car01.jpg"
                                            alt=""></a>
                                </div>
                                <div class="caption">
                                    <div class="additional-info">
                                        <h4><a href="#">Etiam interdum ex ac</a></h4>
                                        <p>bibendum, eget tincidunt ipsum
                                            egestas. Proin non dignissim risus,
                                            ut volutpat dolor. <a href="#">read
                                                more</a></p>
                                    </div>
                                    <div class="review-ftr">
                                        <div class="author">
                                            <div class="img"><img
                                                    src="../../../../assets/images/publisher1.jpg"
                                                    alt=""></div>
                                            <p class="writer">By: scelerisque
                                                lacus Ut lorem dui</p>
                                        </div>
                                        <div class="rating"><i class="fa
                                                fa-star" aria-hidden="true"></i>
                                            <i class="fa fa-star"
                                                aria-hidden="true"></i>
                                            <i class="fa fa-star"
                                                aria-hidden="true"></i>
                                            <i class="fa fa-star"
                                                aria-hidden="true"></i>
                                            <i class="fa fa-star"
                                                aria-hidden="true"></i>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </li>
                        <li class="col-md-4">
                            <div class="pro-car">
                                <div class="thumbnail">
                                    <a href="#"><img
                                            src="../../../../assets/images/car03.jpg"
                                            alt=""></a>
                                </div>
                                <div class="caption">
                                    <div class="additional-info">
                                        <h4><a href="#">Etiam interdum ex ac</a></h4>
                                        <p>bibendum, eget tincidunt ipsum
                                            egestas. Proin non dignissim risus,
                                            ut volutpat dolor. <a href="#">read
                                                more</a></p>
                                    </div>
                                    <div class="review-ftr">
                                        <div class="author">
                                            <div class="img"><img
                                                    src="../../../../assets/images/publisher2.jpg"
                                                    alt=""></div>
                                            <p class="writer">By: scelerisque
                                                lacus Ut lorem dui</p>
                                        </div>
                                        <div class="rating"><i class="fa
                                                fa-star" aria-hidden="true"></i>
                                            <i class="fa fa-star"
                                                aria-hidden="true"></i>
                                            <i class="fa fa-star"
                                                aria-hidden="true"></i>
                                            <i class="fa fa-star"
                                                aria-hidden="true"></i>
                                            <i class="fa fa-star"
                                                aria-hidden="true"></i>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </li>
                        <li class="col-md-4">
                            <div class="pro-car">
                                <div class="thumbnail">
                                    <a href="#"><img
                                            src="../../../../assets/images/car02.jpg"
                                            alt=""></a>
                                </div>
                                <div class="caption">
                                    <div class="additional-info">
                                        <h4><a href="#">Etiam interdum ex ac</a></h4>
                                        <p>bibendum, eget tincidunt ipsum
                                            egestas. Proin non dignissim risus,
                                            ut volutpat dolor. <a href="#">read
                                                more</a></p>
                                    </div>
                                    <div class="review-ftr">
                                        <div class="author">
                                            <div class="img"><img
                                                    src="../../../../assets/images/publisher3.jpg"
                                                    alt=""></div>
                                            <p class="writer">By: scelerisque
                                                lacus Ut lorem dui</p>
                                        </div>
                                        <div class="rating"><i class="fa
                                                fa-star" aria-hidden="true"></i>
                                            <i class="fa fa-star"
                                                aria-hidden="true"></i>
                                            <i class="fa fa-star"
                                                aria-hidden="true"></i>
                                            <i class="fa fa-star"
                                                aria-hidden="true"></i>
                                            <i class="fa fa-star"
                                                aria-hidden="true"></i>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </li>

                    </ul>
                </div>
            </div>


            <nav>
                <ul class="control-box pager">
                    <li><a data-slide="prev" href="#myreviews" class=""><i
                                class="glyphicon glyphicon-chevron-left"></i></a></li>
                    <li><a data-slide="next" href="#myreviews" class=""><i
                                class="glyphicon glyphicon-chevron-right"></i></a></li>
                </ul>
            </nav>

        </div>
    </div>
</div>                         <p class="writer">By: scelerisque
                                                lacus Ut lorem dui</p>
                                        </div>
                                        <div class="rating"><i class="fa
                                                fa-star" aria-hidden="true"></i>
                                            <i class="fa fa-star"
                                                aria-hidden="true"></i>
                                            <i class="fa fa-star"
                                                aria-hidden="true"></i>
                                            <i class="fa fa-star"
                                                aria-hidden="true"></i>
                                            <i class="fa fa-star"
                                                aria-hidden="true"></i>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </li>
                        <li class="col-md-4">
                            <div class="pro-car">
                                <div class="thumbnail">
                                    <a href="#"><img
                                            src="../../../../assets/images/car03.jpg"
                                            alt=""></a>
                                </div>
                                <div class="caption">
                                    <div class="additional-info">
                                        <h4><a href="#">Etiam interdum ex ac</a></h4>
                                        <p>bibendum, eget tincidunt ipsum
                                            egestas. Proin non dignissim risus,
                                            ut volutpat dolor. <a href="#">read
                                                more</a></p>
                                    </div>
                                    <div class="review-ftr">
                                        <div class="author">
                                            <div class="img"><img
                                                    src="../../../../assets/images/publisher2.jpg"
                                                    alt=""></div>
                                            <p class="writer">By: scelerisque
                                                lacus Ut lorem dui</p>
                                        </div>
                                        <div class="rating"><i class="fa
                                                fa-star" aria-hidden="true"></i>
                                            <i class="fa fa-star"
                                                aria-hidden="true"></i>
                                            <i class="fa fa-star"
                                                aria-hidden="true"></i>
                                            <i class="fa fa-star"
                                                aria-hidden="true"></i>
                                            <i class="fa fa-star"
                                                aria-hidden="true"></i>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </li>
                        <li class="col-md-4">
                            <div class="pro-car">
                                <div class="thumbnail">
                                    <a href="#"><img
                                            src="../../../../assets/images/car02.jpg"
                                            alt=""></a>
                                </div>
                                <div class="caption">
                                    <div class="additional-info">
                                        <h4><a href="#">Etiam interdum ex ac</a></h4>
                                        <p>bibendum, eget tincidunt ipsum
                                            egestas. Proin non dignissim risus,
                                            ut volutpat dolor. <a href="#">read
                                                more</a></p>
                                    </div>
                                    <div class="review-ftr">
                                        <div class="author">
                                            <div class="img"><img
                                                    src="../../../../assets/images/publisher3.jpg"
                                                    alt=""></div>
                                            <p class="writer">By: scelerisque
                                                lacus Ut lorem dui</p>
                                        </div>
                                        <div class="rating"><i class="fa
                                                fa-star" aria-hidden="true"></i>
                                            <i class="fa fa-star"
                                                aria-hidden="true"></i>
                                            <i class="fa fa-star"
                                                aria-hidden="true"></i>
                                            <i class="fa fa-star"
                                                aria-hidden="true"></i>
                                            <i class="fa fa-star"
                                                aria-hidden="true"></i>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </li>

                    </ul>
                </div>
            </div>


            <nav>
                <ul class="control-box pager">
                    <li><a data-slide="prev" href="#myreviews" class=""><i
                                class="glyphicon glyphicon-chevron-left"></i></a></li>
                    <li><a data-slide="next" href="#myreviews" class=""><i
                                class="glyphicon glyphicon-chevron-right"></i></a></li>
                </ul>
            </nav>


        </div>
    </div>
</div> -->
