<div class="finance-area">
  <div class="container">
    <div class="sub-title">
      <h3>Finance Available for this car</h3>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="finance-box">
          <div class="image"><img src="../../../../assets/images/thumbnail.png"></div>
          <div class="caption">
            <h3>Cras tristique sem </h3>
            <p>volutpat, a lacinia urna pulvinar. In in lacus.</p>
            <a href="#" class="btn red">Apply Now</a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="finance-box">
          <div class="image"><img src="../../../../assets/images/thumbnail.png"></div>
          <div class="caption">
            <h3>Cras tristique sem </h3>
            <p>volutpat, a lacinia urna pulvinar. In in lacus.</p>
            <a href="#" class="btn red">Apply Now</a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="finance-box">
          <div class="image"><img src="../../../../assets/images/thumbnail.png"></div>
          <div class="caption">
            <h3>Cras tristique sem </h3>
            <p>volutpat, a lacinia urna pulvinar. In in lacus.</p>
            <a href="#" class="btn red">Apply Now</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>