<div class="sec6-saiyaara">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="search-garage">
                    <h3>Best Garage For Your Car Service</h3>
                    <form>
                        <ul>
                            <li><label><input type="radio" value="Near around
                                        you">Near around you</label></li>
                            <li><label><input type="radio" value="Garage Name">Garage
                                    Name</label></li>
                        </ul>
                        <div class="ftr-form"><button class="btn red"
                                type="submit">Search for Best Garage</button></div>
                    </form>
                </div>
            </div>
            <div class="col-md-6"><div class="dealer-showroom">
                    <div class="left">
                        <h3>Dealer Showroom</h3>
                        <p>Sed id ante eget nisl malesuada euismod. Suspendisse
                            fermentum molestie orci.</p>
                        <a href="#" class="btn red">Ready to Get Started</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>>