<div id=" carousel-example-generic" class="main-slider slide" >
    <div class="container">
        <div class="carousel-caption">
            <p>With thousands of cars,we have just the right one for you</p>
            <a >Learn More</a>
        </div>
    </div>
</div>
<div class="search-area">
<div class="container">
    <quick-car-search [quickSearch]="featureAdData"></quick-car-search>
</div>
</div>
<recent-car-carousel [recentCarCarousel]="featureAdData"></recent-car-carousel>
<sec-saiyaara></sec-saiyaara>
<sec4-saiyaara [popularBrand]="featureAdData"></sec4-saiyaara>
<sec5-saiyaara [popularUsedCar]="featureAdData"></sec5-saiyaara>
<sec7-saiyaara [carByCity]="featureAdData"></sec7-saiyaara>
<sec8-saiyaara></sec8-saiyaara>
<sec9-saiyaara></sec9-saiyaara>
