<!-- Page Content -->
<div class="content-area info">
    <div class="container">
        <div class="title-area">
            <div class="row">
                <div class="col-md-12">
                    <h1>About Saiyaara</h1>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-5">
                <div class="video">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/pkdFTVay7KI" frameborder="0" allow="autoplay; encrypted-media"
                        allowfullscreen></iframe>
                </div>
            </div>
            <div class="col-md-7 extra-detail">
                <div class="text">
                    <h5>Description</h5>
                    <p>Consectetur adipiscing elit. Quisque tellus ex, tempus quis dictum dignissim, posuere non tellus. Nulla
                        eget ante id nunc facilisis condimentum. Sed porttitor mi vel ipsum ultricies sollicitudin. Lorem
                        ipsum dolor sit amet, consectetur adipiscing elit. Sed a odio erat. Proin laoreet magna mattis lacus
                        dictum, et dapibus risus efficitur. Aliquam mattis semper enim, id ornare nibh pharetra a.</p>
                    <h5>Sed varius ut ante ac dapibus</h5>
                    <p> Duis dignissim turpis in metus rhoncus, vel pharetra ex aliquam. Sed ac diam sit amet mauris rutrum dignissim.
                        Sed varius ut ante ac dapibus. Sed dignissim nibh in felis dictum vulputate. Nulla facilisi. Duis
                        finibus, mauris ullamcorper laoreet posuere.</p>
                    <p>Vivamus nisl felis, hendrerit eu felis a, tincidunt luctus dolor. Sed finibus sem eget felis cursus feugiat.
                        Nulla et volutpat erat. Suspendisse potenti.</p>

                    <a href="#" class="btn blue">Contact Us Now</a>
                </div>
            </div>
        </div>
        <div class="empty-space30"></div>
        <div class="row info-boxes">
            <div class="col-md-4">
                <div class="info-box">
                    <div class="image">
                        <img src="../../../assets/images/buying.jpg">
                    </div>
                    <div class="caption">
                        <h3>Buying</h3>
                        <p>Proin iaculis diam in auctor feugiat. Nulla aliquam eros vitae massa posuere imperdiet. Phasellus
                            at consequat lectus. Vivamus fermentum arcu vitae placerat dignissim. Fusce pulvinar felis eget
                            erat fermentum, ac molestie erat luctus.
                        </p>
                        <a href="#" class="btn blue-border">Read More
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="info-box">
                    <div class="image">
                        <img src="../../../assets/images/selling.jpg">
                    </div>
                    <div class="caption">
                        <h3>Selling</h3>
                        <p>Proin iaculis diam in auctor feugiat. Nulla aliquam eros vitae massa posuere imperdiet. Phasellus
                            at consequat lectus. Vivamus fermentum arcu vitae placerat dignissim. Fusce pulvinar felis eget
                            erat fermentum, ac molestie erat luctus.
                        </p>
                        <a href="#" class="btn blue-border">Read More
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="info-box">
                    <div class="image">
                        <img src="../../../assets/images/managing.jpg">
                    </div>
                    <div class="caption">
                        <h3>Managing</h3>
                        <p>Proin iaculis diam in auctor feugiat. Nulla aliquam eros vitae massa posuere imperdiet. Phasellus
                            at consequat lectus. Vivamus fermentum arcu vitae placerat dignissim. Fusce pulvinar felis eget
                            erat fermentum, ac molestie erat luctus.
                        </p>
                        <a href="#" class="btn blue-border">Read More
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="empty-space30"></div>
        <div class="row">
            <div class="col-md-12">
                <div class="ads-area">
                    <img src="../../../assets/images/full-ads.jpg" alt="saiyaara ads" width="1169" height="114">
                </div>
            </div>
        </div>
        <div class="empty-space30"></div>
        <div class="contact-bar">
            <div class="col-md-9">
                <h3>Get in touch with Ross to ask any questions or place an order.
                    <br> Call
                    <a href="#">0173 353 0232</a>. Your offer ID is
                    <a href="#">2727981</a>
                </h3>
            </div>
            <div class="col-md-3">
                <a href="#" class="btn lite-blue">Send message
                </a>
            </div>
        </div>
        <div class="view-stock">
            <p>
                <strong>Want very quick delivery?</strong> See what similar cars are available now.
                <a href="#">View stocklist
                </a>
            </p>
        </div>

    </div>



</div>


<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dimdiss="modal">&times;</button>
                <h4 class="modal-title">Modal Header</h4>
            </div>
            <div class="modal-body">
                <p>Some text in the modal.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dimdiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>