<!-- <div class="question-ans">
  <div class="container">
    <div class="row">
      <div class="que">
        <div class="col-md-8">
          <div class="sub-title">
            <h3>Questions &amp; answers</h3>
          </div>
          <div class="questions">
            <ul class="row">
              <li class="col-md-6">
                <div class="title">
                  <h3><span>Q:</span>Etiam interdum ex ac bibendum, eget
                    tincidunt ipsum egestas ?</h3>
                </div>
                <div class="det">
                  <div class="left"><ul>
                      <li>Discussion <a href="#">113</a></li>
                      <li>Messages <a href="#">08</a></li>
                    </ul></div>
                  <div class="right">
                    <ul>
                      <li>by <a href="#">Jordi Toms</a></li>
                    </ul>
                  </div>
                </div>
              </li>
              <li class="col-md-6">
                <div class="title">
                  <h3><span>Q:</span>Etiam interdum ex ac bibendum, eget
                    tincidunt ipsum egestas ?</h3>
                </div>
                <div class="det">
                  <div class="left"><ul>
                      <li>Discussion <a href="#">113</a></li>
                      <li>Messages <a href="#">08</a></li>
                    </ul></div>
                  <div class="right">
                    <ul>
                      <li>by <a href="#">Jordi Toms</a></li>
                    </ul>
                  </div>
                </div>
              </li>
              <li class="col-md-6">
                <div class="title">
                  <h3><span>Q:</span>Etiam interdum ex ac bibendum, eget
                    tincidunt ipsum egestas ?</h3>
                </div>
                <div class="det">
                  <div class="left"><ul>
                      <li>Discussion <a href="#">113</a></li>
                      <li>Messages <a href="#">08</a></li>
                    </ul></div>
                  <div class="right">
                    <ul>
                      <li>by <a href="#">Jordi Toms</a></li>
                    </ul>
                  </div>
                </div>
              </li>
              <li class="col-md-6">
                <div class="title">
                  <h3><span>Q:</span>Etiam interdum ex ac bibendum, eget
                    tincidunt ipsum egestas ?</h3>
                </div>
                <div class="det">
                  <div class="left"><ul>
                      <li>Discussion <a href="#">113</a></li>
                      <li>Messages <a href="#">08</a></li>
                    </ul></div>
                  <div class="right">
                    <ul>
                      <li>by <a href="#">Jordi Toms</a></li>
                    </ul>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-area">
            <div class="sub-title"><h4>Ask A question ?</h4></div>
            <form>
              <div class="form-body">
                <div class="form-group">
                  <label>Full Name</label>
                  <div class="input-group"><input type="text" placeholder="Enter
                      your full name"></div>
                </div>
                <div class="form-group">
                  <label>Your Email</label>
                  <div class="input-group"><input type="text" placeholder="Enter
                      your email address"></div>
                </div>
                <div class="form-group">
                  <label>Question</label>
                  <div class="input-group"><textarea>Ask Question?</textarea></div>
                </div>
              </div>
              <div class="form-footer">
                <button type="submit" class="btn blue">Ask Now</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->