<div class="sec8-saiyaara">
  <div class="container">
    <div class="row">
      <div class="col-md-5">
        <div class="blog-post">
          <div class="title"><h3>Our Blog</h3></div>
          <ul>
            <li class="post">
              <div class="thumbnail"><img
                  src="../../../../assets/images/car02.jpg"></div>
              <div class="caption">
                <h3>2018 Toyota C-HR</h3>
                <p>The C-HR's style shines, but it lacks the features and
                  utility to rise above other subcompact hatchbacks and SUVs.</p>
                <a href="#">Read more</a>
              </div>
            </li>
            <li class="post">
              <div class="thumbnail"><img
                  src="../../../../assets/images/car03.jpg"></div>
              <div class="caption">
                <h3>2018 Toyota C-HR</h3>
                <p>The C-HR's style shines, but it lacks the features and
                  utility to rise above other subcompact hatchbacks and SUVs.</p>
                <a href="#">Read more</a>
              </div>
            </li>
            <li class="post">
              <div class="thumbnail"><img
                  src="../../../../assets/images/car05.jpg"></div>
              <div class="caption">
                <h3>2018 Toyota C-HR</h3>
                <p>The C-HR's style shines, but it lacks the features and
                  utility to rise above other subcompact hatchbacks and SUVs.</p>
                <a href="#">Read more</a>
              </div>
            </li>
          </ul>
          <!-- <div class="read-more"><a href="#">View More</a></div> -->
        </div>
      </div>
      <div class="col-md-7">
        <div class="video">
          <div class="title"><h3>Videos &amp; advice</h3></div>
          <iframe width="560" height="315"
            src="https://www.youtube.com/embed/eekrb4wJl-k" frameborder="0"
            allowfullscreen=""></iframe>
          <!-- <div class="read-more"><a href="#">View All Videos</a></div> -->
        </div></div>
    </div>
  </div>
</div>
